%table.table.table-hover
  %thead
    %tr.table-primary
      %td.w60per{ scope: 'col' } Tasks
      %td.text-right{ scope: 'col', colspan: 3 }= render 'status_filter'
  %tbody
    - if @tasks.present?
      - @tasks.each do |task|
        = render 'task', task: task
    - else
      %tr
        %td{ colspan: 4 } Not found
= will_paginate @tasks, list_classes: %w(pagination justify-content-end)
